.container-fluid{
    padding-left: 25%;
    background-color:blue;
    font-family:Roboto;
    font-size:large;
    padding-top: 10px;
}
#s{
        border-radius: 5px;
        display: block;
        padding: 8px 12px;
}
.nav-area {
    padding-top: 20px;
    padding-left:100px;
    background: #239dd0;
}
.row{
    font-size: larger;
}
#shr{
    font-size:small;
}
.shre{
    font-size:x-small;
}
.span {
    display: block;
    clear: both;
    color: #97251b;
}
.container{
    background-color:whitesmoke;
    font-family:Arial;
    font-size:large;
    padding-top:10px;
    padding-left:25px;
}
.r{
    font-size:small;
}
.ra{
    font-size:small;
}
.dropbtn{
    background-color: #239dd0;
    padding:20px;
    font-size:16px;
    border:none;
}
.dropdown{
    position:relative;
    display:inline-block;
}
.dropdown-content{
    display:none;
    position:absolute;
    background-color:blue;
    min-width:160px;
    z-index:1;
}
.dropdown-content a{
    color:black;
    text-decoration:none;
    display:block;
}
.dropdown-content a:hover { 
    background-color:white;
}
.dropdown:hover .dropdown-content{
     display:block;
}
